/* 여기에 스타일을 구현해 주세요 */
.avatar-container {
  width: 340px;
  margin: 50px auto;
}
.avatar {
  position: relative;
  float: left;
  margin-right: 20px;
  margin-bottom: 20px;
}
.avatar img {
  width: 64px;
  height: 64px;
  border-radius: 50%;
  object-fit: cover;
  display: block;
}
.status {
  position: absolute;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  right: 0;
  bottom: 0;
  border: 2px solid white;
}
.status.online {
  background-color: #4cfe88;
}
.status.offline {
  background-color: #dbdbdb;
}
